<!DOCTYPE html>
<html>
<head>
    <title>Eventos</title>
</head>
<body>
    <h1>Lista de Eventos</h1>
    <ul>
        {% for evento in eventos %}
            <li>
                <strong>{{ evento.nome }}</strong><br>
                Tipo: {{ evento.tipo }}<br>
                Descrição: {{ evento.descricao }}<br>
                Registrado em: {{ evento.criado_em}} <br>
                <a href="{% url 'evento_detalhes' evento.id %}">Ver Detalhes</a>
            </li>
        {% empty %}
            <li>Não há evento disponíveis no momento.</li>
        {% endfor %}
    </ul>
</body>
</html>
