  <h1>Lista de Interesses</h1>
  <table>
    <thead>
      <tr>
        <th>Oportunidade</th>
        <th>Responder Requisitos</th>
      </tr>
    </thead>
    <tbody>
      {% for interesse in interesses %}
        <tr>
          <td>{{ interesse.vaga }}</td>
          <td><a href="{% url 'detalhe_respostas' interesse.pk %}">Ver Respostas</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">Nenhum interesse encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
